.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* Adjust spacing */
}

@media screen and (min-width: 290px) and (max-width:399px) {
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    /* Adjust spacing */
  }
}

.social-media a {
  text-decoration: none;
  /* color: #333; */
  /* Icon color */
  font-size: 24px;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;

  animation: contactAnimation 1.5s ease-in-out infinite;
}

.social-media a:hover {
  transform: translateY(-15px);
  /* Adjust the hover effect */
  color: #b12900;
  /* Change color on hover */
}

@keyframes contactAnimation {
  0%, 100% {
    transform: translateY(0px);
    /* Adjust the hover effect */
    color: #333;
    /* Change color on hover */
  }

  50% {
    transform: translateY(-25px);

    /* Adjust the hover effect */
    color: #b12900;

    /* Change color on hover */
  }
}
