<section class="catalog-details">
  <div class="catalog-info">
    <h2>Welcome to Our Book and Diary Catalog</h2>
    <p>Explore a vast collection of books and diaries.</p>
    <p>Record your thoughts, ideas, and experiences daily!</p>
    <a routerLink="/books-catalog" class="explore-button">Explore Now</a>
  </div>
  <!-- <div class="images-container">
    <img src="assets/images/dairy/wintage_pic_1.jpg" alt="Books Image">
    <img src="assets/images/dairy/write_pic_1.jpg" alt="Diaries Image">
  </div> -->
</section>

<app-social-media></app-social-media>
