<div class="container" *ngIf="!animationInProcess">
  <div class="login-left">
    <div class="form-container login-border" *ngIf="enableLogin">
      <h2 class="signup-head">Login</h2>
      <form [formGroup]="loginForm">

        <label class="singup-label">User Name</label>

        <input class="form-group" formControlName="username" (keyup)="replaceSpace($event)">
        <ng-container *ngIf="loginForm.get('password')?.pristine && loginForm.get('password')?.dirty">
          <ng-container *ngIf="loginForm.get('username')?.hasError('required')">Username is required
          </ng-container>
        </ng-container>

        <label class="singup-label">Password</label>
        <input class="form-group" formControlName="password" type="password">
        <ng-container *ngIf="loginForm.get('password')?.pristine && loginForm.get('password')?.dirty">
          <ng-container *ngIf="loginForm.get('password')?.hasError('required')">
            Password is required
          </ng-container>
          <ng-container *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 8
            characters
          </ng-container>
          <ng-container *ngIf="loginForm.get('password')?.hasError('maxlength')">Password must not exceed 20
            characters
          </ng-container>
        </ng-container>

        <div class="switch-buttons">
          <button class="switch-button1" (click)="onClickLogin()">Login</button>
          <button class="switch-button2" (click)="switchToSignUp()">Switch</button>
        </div>

        <!-- <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Login</button>
    <button mat-raised-button color="primary" (click)="switchToSignUp()">Sign UP</button> -->
      </form>
    </div>

    <div class="form-container login-border" *ngIf="!enableLogin">
      <h2 class="signup-head">Sign Up</h2>
      <form [formGroup]="signupForm">
        <label class="singup-label">Profile Name</label>

        <input class="form-group" formControlName="profilename">
        <ng-container *ngIf="loginForm.get('password')?.pristine && loginForm.get('password')?.dirty">
          <ng-container *ngIf="signupForm.get('profilename')?.hasError('required')">Profile name is
            required</ng-container>
          <ng-container *ngIf="signupForm.get('profilename')?.hasError('minlength')">Profile name must be at least 8
            characters</ng-container>
          <ng-container *ngIf="signupForm.get('profilename')?.hasError('maxlength')">Profile name must not exceed 20
            characters</ng-container>
        </ng-container>



        <label class="singup-label">User Name</label>
        <input class="form-group" formControlName="username" (keyup)="replaceSpace($event)">
        <ng-container *ngIf="loginForm.get('password')?.pristine && loginForm.get('password')?.dirty">
          <ng-container *ngIf="signupForm.get('username')?.hasError('required')">User name is required</ng-container>
          <ng-container *ngIf="signupForm.get('username')?.hasError('exists')">User name already exists!</ng-container>
        </ng-container>



        <label class="singup-label">Email</label>

        <input class="form-group" formControlName="email">
        <ng-container *ngIf="loginForm.get('password')?.pristine && loginForm.get('password')?.dirty">
          <ng-container *ngIf="signupForm.get('email')?.hasError('required')">Email is required</ng-container>
          <ng-container *ngIf="signupForm.get('email')?.hasError('email')">Please enter a valid email</ng-container>
        </ng-container>



        <label class="singup-label">Password</label>

        <input class="form-group" formControlName="password" type="password">
        <ng-container *ngIf="loginForm.get('password')?.pristine && loginForm.get('password')?.dirty">
          <ng-container *ngIf="signupForm.get('password')?.hasError('required')">Password is required</ng-container>
          <ng-container *ngIf="signupForm.get('password')?.hasError('minlength')">Password must be at least 8
            characters</ng-container>
          <ng-container *ngIf="signupForm.get('password')?.hasError('maxlength')">Password must not exceed 20
            characters</ng-container>
        </ng-container>



        <div class="switch-buttons">
          <button class="switch-button1" (click)="onClickSignup()">Sign Up</button>
          <button class="switch-button2" (click)="switchToSignUp()">Switch</button>
        </div>
        <!--
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Sign Up</button>
    <button mat-raised-button color="primary" (click)="switchLogin()">Login</button> -->

      </form>
    </div>
  </div>

  <div class="login-right">
    <div class="clip-logo">
      <p>RG</p>
      <br>
      <p>DAIRY</p>
    </div>
  </div>
</div>


<div class="resize-logo" id="logotext" *ngIf="animationInProcess">
  <div class="clip-logo">
    <p>RG</p>
    <br>
    <p>DAIRY</p>
  </div>
</div>
