@media screen and (max-width:1400px) {
  .clip-logo {
    padding: 50px;
    line-height: 0.5;
    text-align: center;
    font-weight: 800;
    margin-top: 20%;

    font-size: 9.0em;
    text-transform: uppercase;
    font-family: 'Open Sans Pro', sans-serif;
    background: url('../../assets//images//backrgounds//logo_bg.jpg');
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .login-left {
    width: 50%;
    margin-top: 4%;
    margin-left: 2%;
  }

  .login-right {
    width: 50%;
    /* margin-right: -5% */
  }


  .resize-logo {
    font-size: 10px;
    margin-top: -10%;

    animation: textAnimationa 0 normal;
    /* Change the duration as needed */
  }

  @keyframes textAnimationa {
    from {
      font-size: 2px;
    }

    to {
      font-size: 1px;
      /* Change this to the final size */
    }
  }
}

@media screen and (max-width:1024px) {
  .clip-logo {
    padding: 50px;
    line-height: 0.5;
    text-align: center;
    font-weight: 800;
    margin-top: 20%;

    font-size: 8.0em;
    text-transform: uppercase;
    font-family: 'Open Sans Pro', sans-serif;
    background: url('../../assets//images//backrgounds//logo_bg.jpg');
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .login-left {
    width: 50%;
    margin-top: 4%;
    margin-left: 2%;
  }

  .login-right {
    width: 50%;
    /* margin-right: -5% */
  }


  .resize-logo {
    font-size: 5px;
    margin-top: -10%;

    animation: textAnimationa 0 normal;
    /* Change the duration as needed */
  }

  @keyframes textAnimationa {
    from {
      font-size: 2px;
    }

    to {
      font-size: 7.0em;
      /* Change this to the final size */
    }
  }
}

/* Mobile devices */

@media screen and (min-width: 400px) and (max-width:768px) {

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }


  .clip-logo {
    padding: 50px;
    line-height: 0.5;
    text-align: center;
    font-weight: 800;
    /* margin-top: 50%; */

    font-size: 6.0em;
    text-transform: uppercase;
    font-family: 'Open Sans Pro', sans-serif;
    background: url('../../assets//images//backrgounds//logo_bg.jpg');
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .login-left {
    width: 100%;
    margin-left: 0px;
  }

  .login-right {
    width: 100%;
  }


  .resize-logo {
    font-size: 5px;
    margin-top: 50%;

    animation: textAnimationa 0 normal;
    /* Change the duration as needed */
  }

  @keyframes textAnimationa {
    from {
      font-size: 2px;
    }

    to {
      font-size: 7.0em;
      /* Change this to the final size */
    }
  }
}


.resize-logo {
  font-size: 20px;
  animation: textAnimationa 2s infinite alternate;
  /* Change the duration as needed */
}

@keyframes textAnimationa {
  0% {
    font-size: 2px;
    opacity: 0%;
  }

  10% {
    opacity: 10%;
  }

  15% {
    opacity: 25%;
  }

  20%, 40%, 60%, 80% {
    opacity: 0%;
  }

  30% {
    opacity: 40%;
  }

  50% {
    opacity: 50%;
  }

  70% {
    opacity: 60%;
  }

  90% {
    opacity: 80%;
  }

  100% {
    font-size: 20px;
    /* Change this to the final size */
  }
}
