.form-container {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #333;
  /* Darker form background */
}

/*  FORMS */
.form-group {
  border-radius: 20px;
  padding: 5px;
  padding-right: 50%;
  background-color: black;
  color: wheat;
  margin-bottom: 10px;
}

.login-border {
  margin-top: 100px;
  margin-bottom: 10px;
  border-color: rgb(139, 147, 139);
  border-radius: 25px;
  border-width: 2px;
}

.signup-head {
  color: wheat;
}

.singup-label {
  color: whitesmoke;
  display: block;
  margin-left: 5px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.mat-form-field label {
  color: #ffffff;
  /* Light label color */
}

input[type="text"],
input[type="password"],
input[type="email"] {
  color: #ffffff;
  /* Light input text color */
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  /* Button color */
  color: #ffffff;
  /* Button text color */
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
  /* Button hover color */
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  /* Adjust as needed */
}

.logo {
  font-size: 1.8rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ccc;
}


/* switch logins */
.switch-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.switch-button1 {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #373a3a;
  /* Button color */
  color: #ffffff;
  /* Button text color */
  /* border: none; */
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;

  animation: loginbutton1 1.5s infinite;
}

.switch-button2 {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #373a3a;
  /* Button color */
  color: #ffffff;
  /* Button text color */
  /* border: none; */
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;

  animation: loginbutton2 1.5s infinite;
}

.switch-button1:hover {
  background-color: black;
  color: white;
  /* font-size: px; */
  font-weight: 700;
  border-radius: 20px;
  border-color: rgb(139, 147, 139);
  /* Button hover color */
}

.switch-button2:hover {
  background-color: black;
  color: white;
  /* font-size: px; */
  font-weight: 700;
  border-radius: 20px;
  border-color: rgb(139, 147, 139);
  /* Button hover color */
}



/*  BACKGROUND CLIP */

.clip-logo {
  padding: 50px;
  line-height: 0.5;
  text-align: center;
  font-weight: 900;
  margin-top: 12%;
  /* margin-left: -20%; */
  /* text-shadow: 0px 200px 50px #1a1515; */
  /* text-shadow: 0px 0px 121px #536c3f; */

  font-size: 12.0em;
  text-transform: uppercase;
  font-family: 'Open Sans Pro', sans-serif;
  background: url('../../assets//images//backrgounds//logo_bg.jpg');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* FLEX LOGIN */
.container {
  display: flex;
  justify-content: space-between;
}

.login-left {
  width: 50%;
  margin-top: 4%;
  margin-left: 10%;
}

.login-right {
  width: 100%;
  text-align: center;
}

@media screen and (max-width:1400px) {
  .clip-logo {
    padding: 50px;
    line-height: 0.5;
    text-align: center;
    font-weight: 800;
    margin-top: 20%;

    font-size: 9.0em;
    text-transform: uppercase;
    font-family: 'Open Sans Pro', sans-serif;
    background: url('../../assets//images//backrgounds//logo_bg.jpg');
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .login-left {
    width: 50%;
    margin-top: 4%;
    margin-left: 2%;
  }

  .login-right {
    width: 50%;
    /* margin-right: -5% */
  }


  .resize-logo {
    font-size: 10px;
    margin-top: -10%;

    animation: textAnimationa 0 normal;
    /* Change the duration as needed */
  }

  @keyframes textAnimationa {
    from {
      font-size: 2px;
    }

    to {
      font-size: 1px;
      /* Change this to the final size */
    }
  }
}

@media screen and (max-width:1024px) {
  .clip-logo {
    padding: 50px;
    line-height: 0.5;
    text-align: center;
    font-weight: 800;
    margin-top: 20%;

    font-size: 8.0em;
    text-transform: uppercase;
    font-family: 'Open Sans Pro', sans-serif;
    background: url('../../assets//images//backrgounds//logo_bg.jpg');
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .login-left {
    width: 50%;
    margin-top: 4%;
    margin-left: 2%;
  }

  .login-right {
    width: 50%;
    /* margin-right: -5% */
  }


  .resize-logo {
    font-size: 5px;
    margin-top: -10%;

    animation: textAnimationa 0 normal;
    /* Change the duration as needed */
  }

  @keyframes textAnimationa {
    from {
      font-size: 2px;
    }

    to {
      font-size: 7.0em;
      /* Change this to the final size */
    }
  }
}



/* TEXT TRANSFORMATION */

.resize-logo {
  font-size: 20px;
  animation: textAnimationa 2s infinite alternate;
  /* Change the duration as needed */
}

@keyframes textAnimationa {
  0% {
    font-size: 2px;
    opacity: 0%;
  }

  10% {
    opacity: 10%;
  }

  15% {
    opacity: 25%;
  }

  20%, 40%, 60%, 80% {
    opacity: 0%;
  }

  30% {
    opacity: 40%;
  }

  50% {
    opacity: 50%;
  }

  70% {
    opacity: 60%;
  }

  90% {
    opacity: 80%;
  }

  100% {
    font-size: 20px;
    /* Change this to the final size */
  }
}

@keyframes loginbutton1 {
  0% {
    /* background-color: black;
    color: white;
    font-weight: 700;
    border-radius: 20px; */
    background-color: #000000;
  }

  100% {
    /* padding: 10px 20px;
    margin: 0 10px; */
    border-color: rgb(139, 147, 139);
  }
}

@keyframes loginbutton2 {
  0% {
    background-color: #373a3a;
    /* padding: 10px 20px;
    margin: 0 10px;
    background-color: #373a3a;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer; */
  }

  100% {
    background-color: black;
    /* color: white;
    font-weight: 700;
    border-radius: 20px;
    border-color: rgb(139, 147, 139); */

  }
}


/* verify otp */

.otp-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #000000
}

.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 5px;
  font-size: xx-large;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;

}


.resend {
  margin: 2px;
  font-size: 14px;
}

.resend-btn {
  color: #5e6872;
  text-decoration: none;
  cursor: pointer;
}
