<div class="book" id="book-card">

  <!-- STATIC PAGES -->
  <!-- <div class="page turn" (click)="openDairy()"
    [ngStyle]="{'background-color':currentDairyDetails?.bookConfig?.color ? currentDairyDetails?.bookConfig?.color :'#E0C9A6'}"
    *ngIf="bookType === 'old' && !isDairyClosed">
    <div class="content">

    </div>
  </div> -->
  <div class="page coverpage" [ngStyle]="{'background-color':bgColorSelected}" *ngIf="bookType === 'new'">
    <div class="content">
      <div contenteditable="true" id="book-year" class="book-year" [innerHTML]="year"
        [ngStyle]="{'font-family':currentFont.font,'color':bgColorSelecetdTitle}"></div>
      <div contenteditable="true" id="book-title" class="book-title" [innerHTML]="title"
        [ngStyle]="{'font-family':currentFont.font,'color':bgColorSelecetdTitle}"></div>
      <!-- <input type="text" class="book-title" minlength="1" maxlength="25"> -->
    </div>
    <button class="create-dairy close-dairy" (click)="closeDairy()">Close</button>
    <button class="create-dairy" (click)="createDairy()">Create Dairy</button>
  </div>


  <div class="page end-card" [ngStyle]="{'background-color':bgColorSelected ,
  'color':bgColorSelecetdTitle}" *ngIf="bookType === 'old'">
    <div class="content">
      <h1 class="end-title" [ngStyle]="{'font-family':currentDairyDetails?.titleConfig.font}">
        THE END
      </h1>
    </div>
    <button class="previous-page" (click)="onTurnPreviousPage({},0)">Previous Page</button>
    <button class="create-dairy" (click)="addNewPage()">New Page</button>
  </div>

  <!-- STATIC PAGES -->
  <ng-container *ngIf="bookType === 'old' ">
    <ng-container *ngFor="let pageDetails of totalPages;let ind = index">
      <!-- *ngIf="activePage === ind+1" -->
      <div class="page" [ngStyle]="{'background-color':currentDairyDetails?.bookConfig?.color ? currentDairyDetails?.bookConfig?.color :'#E0C9A6',
        'color':currentDairyDetails?.titleConfig?.color ? currentDairyDetails?.titleConfig?.color : ''}"
        id="page-{{pageDetails.pageNo}}">
        <div class="content">
          <!-- Content for the first page -->
          <p class="edit-page" (click)="editPage()">
            <!-- Example using Font Awesome edit icon -->
            <i class="fas fa-pencil-alt"></i>
          </p>

          <h2 class="page-no" [ngStyle]="{'font-family':currentDairyDetails?.titleConfig.font}">Page
            {{pageDetails.pageNo}}</h2>

          <!-- <p>Author Name</p> -->
          <div class="content-log" id="user-text-input" [contentEditable]="isUserWriting" (input)="handleInput($event)"
            [ngStyle]="{'font-family':currentDairyDetails?.titleConfig.font}">
            <p [innerHTML]="pageDetails?.text"></p>
          </div>

          <button class="previous-page" *ngIf="!isUserWriting && pageDetails?.pageNo !== 1"
            (click)="onTurnPreviousPage(pageDetails,ind)">Previous Page</button>
          <button class="create-dairy" *ngIf="!isUserWriting" (click)="onTurnPage(pageDetails,ind)">Turn Page</button>
          <button class="create-dairy" *ngIf="isUserWriting" (click)="savePage(pageDetails)">Save Page</button>


          <!-- <h1>Page 2</h1>
          <p>Author Name</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
          <h1>Page 3</h1>
          <p>Author Name</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p> -->



        </div>
      </div>
    </ng-container>
  </ng-container>



  <!-- THIS IS CARD OPEN COVER PAGE -->
  <div class="page" id="book-open-card" (click)="openDairy()"
    [ngStyle]="{'background-color':currentDairyDetails?.bookConfig?.color ? currentDairyDetails?.bookConfig?.color :'#E0C9A6','color':currentDairyDetails?.titleConfig?.color ? currentDairyDetails?.titleConfig?.color : ''}"
    *ngIf="bookType === 'old'">
    <div class="content">
      <div id="book-year" class="book-year" [innerHTML]="year"
        [ngStyle]="{'font-family':currentDairyDetails?.titleConfig.font,'color':bgColorSelecetdTitle}"></div>
      <div id="book-title" class="book-title" [innerHTML]="title"
        [ngStyle]="{'font-family':currentDairyDetails?.titleConfig.font,'color':bgColorSelecetdTitle}"></div>
    </div>
    <!-- <button class="create-dairy">Open Dairy</button> -->
  </div>

  <!-- Add more pages with the same structure -->
</div>
<div class="close-old-dairy close-btn" *ngIf="bookType === 'old'" (click)="closeOldDairy()">Close</div>


<ng-container *ngIf="bookType === 'new'">
  <div id="custom-layers-toggle" class="custom-layers-toggle">
    <div class="font-list font-list-mobile">
      <ng-container *ngFor="let font of fontsAvailable">
        <div class="font-preview" [ngStyle]="{'font-family': font?.font}" (click)="applyFont(font)">{{font?.title}}
        </div>
      </ng-container>

      <!-- <div class="font-preview" style="font-family: Arial;">Arial</div>
      <div class="font-preview" style="font-family: 'Times New Roman';">Times New Roman</div>
      <div class="font-preview" style="font-family: Verdana;">Verdana</div>
      <div class="font-preview" style="font-family: Georgia;">Georgia</div>
      <div class="font-preview" style="font-family: 'Courier New';">Courier New</div> -->
      <!-- Add more font types as needed -->
    </div>

    <div class="font-list color-picker">
      <input type="color" id="colorPicker" (input)="onColorPickedBook($event)">
      <input type="color" id="colorPicker" (input)="onColorPickedTitle($event)">
    </div>
    <!-- <div class="font-list color-picker picker-title">
      <input type="color" id="colorPicker" (input)="onColorPickedTitle($event)">
    </div> -->
  </div>
</ng-container>

<div class="font-list layers-icon" (click)="toggleCustomizationLayers()">
  <i class="fas fa-layer-group"></i>
</div>
