.book-page {
  width: 60%;
  /* Adjust the width of the book page */
  margin: 20px auto;
  background-color: #fff;
  /* Color of the book page */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Shadow effect for the book */
  padding: 20px;
}

.page-header {
  text-align: center;
  margin-bottom: 20px;
}

.page-header h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
  /* Color of the book title */
}

.page-header p {
  margin: 0;
  font-size: 18px;
  color: #555;
  /* Color of the author name */
}

.page-content {
  line-height: 1.6;
}

.page-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
  /* Color of the footer text */
}


/* SMOOTH PAGE TRANSMITION */



.end-card {
  box-shadow: 0 0 20px rgba(180, 178, 178, 0.1);
}

.end-title {
  font-size: 100px;
  margin-top: 60%;
  margin-left: 14%;
}

/* Basic styles for the book layout */
.book {
  /* width: 60%; */
  height: 800px;
  margin: auto;
  perspective: 1000px;
  margin-left: 50%;
  margin-top: 3%;
  /* Adds depth to the book */
}

.page .content {
  padding: 20px;
}

.content-log {
  margin-top: 10%;
  font-style: italic;
  text-align: justify;
}

/* Page turning effect */
.page.turn {
  transform: rotateY(-180deg);
  z-index: 2;
  opacity: 0.2;
}

.page.turn .content {
  transition: opacity 1.5s ease-in-out;
  opacity: 0;
}

/* Styling for odd and even pages */
.page:nth-child(odd) {
  transform-origin: left center;
}

.page:nth-child(even) {
  transform-origin: left center;
}

/* Initially hides the back of the page */
.page:nth-child(odd) .content {
  /* transform: rotateY(-180deg); */
}

.page-no {
  text-align: right;
  font-size: larger;
  /* background-color: #d1b386; */
  padding: 1%;
  /* flex: auto; */
  display: inline-block;
  position: fixed;
  top: 10px;
  right: 5%;
}

/* COVERPAGE */
.coverpage {
  margin-left: -35%;
  margin-top: -3%;
}

.book-title {
  margin-top: 40%;
  text-align: center;
  font-size: 5em;
  font-weight: 500;
  font-style: italic;
  text-shadow: #333;
}

.book-year {
  margin-top: 2%;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  text-align: right;
}

.create-dairy {
  display: block;
  background-color: black;
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 15px;
  color: #E0C9A6;
}

.create-dairy:hover {
  background-color: rgb(78, 30, 2);
  padding: 10px;
  border-radius: 20px;
}

.close-dairy {
  position: absolute;
  right: auto;
  left: 10px;
  bottom: 10px;
}


/* Styles for screens up to 1024px */
/* Media query for larger screens (laptops) */
@media screen and (max-width: 1024px) {
  .book {
    /* width: 60%; */
    height: 90%;
    margin: auto;
    perspective: 800px;
    margin-left: 50%;
    margin-top: 0%;
    /* Adds depth to the book */
  }

  .page {
    width: 90%;
    height: 65%;
    color: black;
    /* Height of the pages */

    /* coolrs */
    background-color: #E0C9A6;
    color: black;
    font-size: 13px;
    line-height: 1.4;

    /* border */
    border-radius: 25px;


    /* background-color: #fff; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    transform-style: preserve-3d;
    /* Preserves 3D transformations */
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
    /* Smooth transition for page flipping */
    /* position: relative; */
    z-index: 1;

    /* stack papers */
    position: absolute;
  }

  /* FONTS PREVIEW */
  .font-list {
    position: absolute;
    right: 5%;
    top: 30%;

    max-height: 310px;
    /* Set the maximum height for scroll */
    overflow-y: auto;
    /* Enable vertical scroll */
  }

  .font-preview {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;
  }

  .color-picker {
    right: 15%;
    top: 11%;
  }

  .close-old-dairy {
    position: absolute;
    top: 12%;
    right: 0%;
  }
}


/* Styles for screens between 1025px and 1376px */
/* Media query for larger screens (laptops) */
@media screen and (min-width: 1025px) and (max-width: 1376px) {
  .book {
    /* width: 60%; */
    height: 90%;
    margin: auto;
    perspective: 800px;
    margin-left: 50%;
    margin-top: 0%;
    /* Adds depth to the book */
  }

  .page {
    width: 90%;
    height: 65%;
    color: black;
    /* Height of the pages */

    /* coolrs */
    background-color: #E0C9A6;
    color: black;
    font-size: 13px;
    line-height: 1.4;

    /* border */
    border-radius: 25px;


    /* background-color: #fff; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    transform-style: preserve-3d;
    /* Preserves 3D transformations */
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
    /* Smooth transition for page flipping */
    /* position: relative; */
    z-index: 1;

    /* stack papers */
    position: absolute;
  }

  /* FONTS PREVIEW */
  .font-list {
    position: absolute;
    right: 5%;
    top: 25%;

    max-height: 310px;
    /* Set the maximum height for scroll */
    overflow-y: auto;
    /* Enable vertical scroll */
  }

  .font-preview {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;
  }

  .color-picker {
    right: 15%;
    top: 11%;
  }

  .close-old-dairy {
    position: absolute;
    top: 12%;
    right: 0%;
  }
}


/* Styles for screens larger than 1376px */
@media screen and (min-width: 1377px) {
  .page {
    /* Height of the pages */
    height: 800px;
    width: 600px;

    /* coolrs */
    background-color: #E0C9A6;
    color: black;
    font-size: large;
    line-height: 1.4;

    /* border */
    border-radius: 25px;

    /* box-shadow: 0 0 20px rgba(180, 178, 178, 0.1); */
    transform-style: preserve-3d;
    /* Preserves 3D transformations */
    transition: transform 1.5s ease-in-out, opacity 4s ease-in-out;
    /* Smooth transition for page flipping */
    /* position: relative; */
    z-index: 1;

    /* stack papers */
    position: absolute;
    /* box-shadow: 0 10px 34px white; */
  }


  /* FONTS PREVIEW */
  .font-list {
    position: absolute;
    right: 5%;
    top: 25%;
    margin-right: 15%;

    max-height: 310px;
    /* Set the maximum height for scroll */
    overflow-y: auto;
    /* Enable vertical scroll */
  }

  .font-list::-webkit-scrollbar {
    display: none;
    scrollbar-width: none
      /* Webkit (Chrome, Safari, etc.) */
  }

  .font-preview {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;
  }

  .color-picker {
    right: 10%;
    top: 11%;
  }

  .close-old-dairy {
    position: absolute;
    top: 13%;
    right: 13%;
  }
}

.font-preview:hover {
  cursor: pointer;
  border-radius: 5px;
  border: 2px dotted;
}


/* COLOUR PICKER */

.picker-title {
  right: 5%;
}

input[type="color"] {
  width: 50px;
  height: 50px;
  border: none;
  appearance: none;
  /* Remove default styling */
}

.close-old-dairy.close-btn {
  padding: 5px;
  border-radius: 15px;
  background-color: #5d475e;
  border: 1px solid;
  cursor: pointer;
}
