<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo">RG Dairy</span>
  <div class="spacer"></div>
  <nav *ngIf="isScreenSmall(); else largeScreen" class="nav-links">
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/about">About</a>
    <a mat-button routerLink="/services">Services</a>
    <a mat-button routerLink="/contact">Contact</a>
  </nav>
  <ng-template #largeScreen>
    <nav class="nav-links">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/about">About</a>
      <a mat-button routerLink="/services">Services</a>
      <a mat-button routerLink="/contact">Contact</a>
    </nav>
  </ng-template>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="isScreenSmall()">
    <nav class="nav-links">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/about">About</a>
      <a mat-button routerLink="/services">Services</a>
      <a mat-button routerLink="/contact">Contact</a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>

    <ng-container *ngTemplateOutlet="loginformdiv"></ng-container>
    <!-- <ng-container *ngTemplateOutlet="bookpaper"></ng-container> -->
  </mat-sidenav-content>
</mat-sidenav-container>


<ng-template #loginformdiv>
  <div class="form-container login-border" *ngIf="enableLogin">
    <h2 class="signup-head">Login</h2>
    <form [formGroup]="loginForm">

      <label class="singup-label">User Name</label>
      <mat-form-field class="form-group">
        <input matInput formControlName="username" placeholder="Username">
        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">Username is required</mat-error>
      </mat-form-field>

      <label class="singup-label">Password</label>
      <mat-form-field class="form-group">
        <input matInput formControlName="password" type="password" placeholder="Password">
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">Password must be at least 8
          characters</mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('maxlength')">Password must not exceed 20
          characters</mat-error>
      </mat-form-field>

      <div class="switch-buttons">
        <button class="switch-button" (click)="onClickLogin()">Login</button>
        <button class="switch-button" (click)="switchToSignUp()">Switch</button>
      </div>

      <!-- <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Login</button>
      <button mat-raised-button color="primary" (click)="switchToSignUp()">Sign UP</button> -->
    </form>
  </div>

  <div class="form-container login-border" *ngIf="!enableLogin">
    <h2 class="signup-head">Sign Up</h2>
    <form [formGroup]="signupForm">
      <label class="singup-label">Profile Name</label>
      <mat-form-field class="form-group">
        <input matInput formControlName="profilename" placeholder="Profile Name">
        <mat-error *ngIf="signupForm.get('profilename')?.hasError('required')">Profile name is required</mat-error>
        <mat-error *ngIf="signupForm.get('profilename')?.hasError('minlength')">Profile name must be at least 8
          characters</mat-error>
        <mat-error *ngIf="signupForm.get('profilename')?.hasError('maxlength')">Profile name must not exceed 20
          characters</mat-error>
      </mat-form-field>

      <label class="singup-label">User Name</label>
      <mat-form-field class="form-group">
        <input matInput formControlName="username" placeholder="User Name">
        <mat-error *ngIf="signupForm.get('username')?.hasError('required')">User name is required</mat-error>
        <mat-error *ngIf="signupForm.get('username')?.hasError('exists')">User name already exists!</mat-error>
      </mat-form-field>

      <label class="singup-label">Email</label>
      <mat-form-field class="form-group">
        <input matInput formControlName="email" placeholder="Email">
        <mat-error *ngIf="signupForm.get('email')?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="signupForm.get('email')?.hasError('email')">Please enter a valid email</mat-error>
      </mat-form-field>

      <label class="singup-label">Password</label>
      <mat-form-field class="form-group">
        <input matInput formControlName="password" type="password" placeholder="Password">
        <mat-error *ngIf="signupForm.get('password')?.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">Password must be at least 8
          characters</mat-error>
        <mat-error *ngIf="signupForm.get('password')?.hasError('maxlength')">Password must not exceed 20
          characters</mat-error>
      </mat-form-field>

      <div class="switch-buttons">
        <button class="switch-button" (click)="onClickSignup()">Sign Up</button>
        <button class="switch-button" (click)="switchToSignUp()">Switch</button>
      </div>
      <!--
      <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Sign Up</button>
      <button mat-raised-button color="primary" (click)="switchLogin()">Login</button> -->

    </form>
  </div>
</ng-template>

<ng-template #bookpaper>
  <!-- <div class="book-page">
    <div class="page-header">
      <h1>Title of the Book</h1>
      <p>Author Name</p>
    </div>
    <div class="page-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut urna eu lectus interdum rhoncus eget vel massa.
        Nulla facilisi.
      </p>
    </div>
    <div class="page-footer">
      <p>&copy; Year Publisher</p>
    </div>
  </div> -->

  <div class="book">
    <ng-container *ngFor="let pageDetails of totalPages;let ind = index">
      <!-- *ngIf="activePage === ind+1" -->
      <div class="page" id="page-{{pageDetails.pageNo}}" (click)="onTurnPage(pageDetails.pageNo)">
        <div class="content">
          <!-- Content for the first page -->
          <h1>Page {{pageDetails.pageNo}}</h1>
          <p>Author Name</p>
          <p>Before you can begin to determine what the composition of a particular paragraph will be, you must first
            decide on an argument and a working thesis statement for your paper. What is the most important idea that
            you
            are trying to convey to your reader? The information in each paragraph must be related to that idea. In
            other
            words, your paragraphs should remind your reader that there is a recurrent relationship between your thesis
            and the information in each paragraph. A working thesis functions like a seed from which your paper, and
            your
            ideas, will grow. The whole process is an organic one—a natural progression from a seed to a full-blown
            paper
            where there are direct, familial relationships between all of the ideas in the paper.

            <br>
            <br>
            The decision about what to put into your paragraphs begins with the germination of a seed of ideas; this
            “germination process” is better known as brainstorming. There are many techniques for brainstorming;
            whichever
            one you choose, this stage of paragraph development cannot be skipped. Building paragraphs can be like
            building a skyscraper: there must be a well-planned foundation that supports what you are building. Any
            cracks, inconsistencies, or other corruptions of the foundation can cause your whole paper to crumble.
            <br>
            <br>

            So, let’s suppose that you have done some brainstorming to develop your thesis. What else should you keep in
            mind as you begin to create paragraphs? Every paragraph in a paper should be:
            <br>
            <br>

            Unified: All of the sentences in a single paragraph should be related to a single controlling idea (often
            expressed in the topic sentence of the paragraph).
            Clearly related to the thesis: The sentences should all refer to the central idea, or thesis, of the paper
            (Rosen and Behrens 119).
            <br>
            <br>

            Coherent: The sentences should be arranged in a logical manner and should follow a definite plan for
            development (Rosen and Behrens 119).
            Well-developed: Every idea discussed in the paragraph should be adequately explained and supported through
            evidence and details that work together to explain the paragraph’s controlling idea (Rosen and Behrens 119).
          </p>


          <!-- <h1>Page 2</h1>
          <p>Author Name</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
          <h1>Page 3</h1>
          <p>Author Name</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p> -->



        </div>
      </div>
    </ng-container>
    <!-- Add more pages with the same structure -->
  </div>
</ng-template>
