<mat-toolbar class="dash-header" *ngIf="appService.userLoggedIn">
  <span class="logo">Diary</span>
  <div class="spacer"></div>
  <nav *ngIf="isScreenSmall(); else largeScreen" class="nav-links">
    <!-- <a mat-button routerLink="/home">Home</a> -->
    <ng-container *ngIf="appService.userLoggedIn">
      <a mat-button routerLink="/books-catalog">Books</a>
      <a mat-button routerLink="/about-us">About</a>
      <a (click)="logoutUser()">Logout</a>
    </ng-container>
    <!-- <a mat-button routerLink="/services">Services</a>
    <a mat-button routerLink="/contact">Contact</a> -->
  </nav>
  <ng-template #largeScreen>
    <nav class="nav-links">
      <!-- <a mat-button routerLink="/home">Home</a> -->
      <ng-container *ngIf="appService.userLoggedIn">
        <a mat-button routerLink="/books-catalog">Books</a>
        <a mat-button routerLink="/about-us">About</a>
        <a (click)="logoutUser()">Logout</a>
      </ng-container>
      <!-- <a mat-button routerLink="/services">Services</a>
      <a mat-button routerLink="/contact">Contact</a> -->
    </nav>
  </ng-template>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="isScreenSmall()">
    <nav class="nav-links">
      <!-- <a mat-button routerLink="/home">Home</a> -->
      <ng-container *ngIf="appService.userLoggedIn">
        <a mat-button routerLink="/books-catalog">Books</a>
        <a mat-button routerLink="/about-us">About</a>
        <a (click)="logoutUser()">Logout</a>
      </ng-container>
      <!-- <a mat-button routerLink="/services">Services</a>
      <a mat-button routerLink="/contact">Contact</a> -->
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>

  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
