<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="logo">RG Dairy</span>
  <div class="spacer"></div>
  <nav *ngIf="isScreenSmall(); else largeScreen" class="nav-links">
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/about">About</a>
    <a mat-button routerLink="/services">Services</a>
    <a mat-button routerLink="/contact">Contact</a>
  </nav>
  <ng-template #largeScreen>
    <nav class="nav-links">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/about">About</a>
      <a mat-button routerLink="/services">Services</a>
      <a mat-button routerLink="/contact">Contact</a>
    </nav>
  </ng-template>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="isScreenSmall()">
    <nav class="nav-links">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/about">About</a>
      <a mat-button routerLink="/services">Services</a>
      <a mat-button routerLink="/contact">Contact</a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>

    <ng-container *ngTemplateOutlet="loginformdiv"></ng-container>
    <!-- <ng-container *ngTemplateOutlet="bookpaper"></ng-container> -->
  </mat-sidenav-content>
</mat-sidenav-container>


<ng-template #loginformdiv>

</ng-template>

<ng-template #bookpaper>
  <!-- <div class="book-page">
    <div class="page-header">
      <h1>Title of the Book</h1>
      <p>Author Name</p>
    </div>
    <div class="page-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut urna eu lectus interdum rhoncus eget vel massa.
        Nulla facilisi.
      </p>
    </div>
    <div class="page-footer">
      <p>&copy; Year Publisher</p>
    </div>
  </div> -->
</ng-template>

<router-outlet></router-outlet>
