<ng-container *ngIf="!isBookOpened">
  <div class="book-grid" *ngIf="!loadNewBook">

    <ng-container *ngFor="let dairy of selfDairies">
      <div class="book" [ngStyle]="{'background-color':dairy?.bookConfig?.color ? dairy?.bookConfig?.color :'#E0C9A6'}">
        <div class="book-details">
          <h3 class="book-title-mini" [ngStyle]="{'font-family':dairy?.titleConfig?.font ? dairy?.titleConfig?.font  : 'cursive',
            'color':dairy?.titleConfig?.color ? dairy?.titleConfig?.color : '' }">
            {{dairy?.title}}</h3>
          <!-- <p>Author: Author Name 1</p> -->
          <!-- <p>Genre: {{{Fiction}}}</p> -->
          <p class="book-year-mini" [ngStyle]="{'font-family':dairy?.titleConfig?.font ? dairy?.titleConfig?.font  : 'cursive',
            'color':dairy?.titleConfig?.color ? dairy?.titleConfig?.color : ''  }">
            {{dairy?.year}}
          </p>
        </div>
        <div class="overlay" (click)="openBook(dairy)">
          <p>Click for more details</p>
        </div>
      </div>
    </ng-container>

    <!-- <div class="book">
      <div class="book-details">
        <h3>Book Title 2</h3>
        <p>Genre: Mystery</p>
        <p>Published: 2021</p>
      </div>
      <div class="overlay">
        <p>Click for more details</p>
      </div>
    </div> -->
    <!-- Add more books as needed -->

    <ng-container *ngFor="let test of [].constructor(2)">
      <div class="new-book">
        <p class="new-book-logo">
          +
        </p>
        <p></p>
        <div class="overlay" (click)="createNewBook()">
          <p>Add New DAIRY</p>
        </div>
      </div>
    </ng-container>

  </div>

  <app-book [bookType]="'new'" *ngIf="loadNewBook" (incomingBook)="newDairyAdded($event)"></app-book>
</ng-container>


<router-outlet *ngIf="isBookOpened"></router-outlet>
